// /* Глобал */
* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none
}

a {
    text-decoration: none;
    color: unset;
}

button {
    border: 0;
    background-color: unset;
    cursor: pointer;
}

header {
    padding: 40px 130px 0px;

    margin-bottom: 130px;
}

footer {
    background-color: #161C28;
    padding: 130px;
    padding-bottom: 40px;
}