@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// /* Глобал */
* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

button {
    border: 0;
    background-color: unset;
    cursor: pointer;
}

header {
    padding: 40px 130px 0px;

    margin-bottom: 130px;
}


// /* Башка */
.header_container {
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-inline: auto;

    a .company_name {
        font-size: 50px;
        font-weight: 600;
        line-height: 30px;
        color: #54BD95;
    }

    .header_nav {
        max-width: 408px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        flex-wrap: wrap;
        font-size: 16px;
        font-weight: 500;
        line-height: auto;
        color: #A6A6A6;
    }

    .header_buttons {
        display: flex;
        gap: 2px;

        .header_button {
            max-width: 143px;
            display: flex;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 500;
            line-height: auto;
            padding: 10px;
        }

        .button_log {
            color: #A6A6A6;
            max-width: 80px;
        }

        .button_log:hover {
            max-width: 80px;
            color: #54BD95;
            outline: 2px solid #54BD95;
        }

        .button_sign-up {
            max-width: 80px;
            color: #F8F8FA;
            background-color: #54BD95;
        }

        .button_sign-up:hover {
            max-width: 80px;
            color: #A6A6A6;
            outline: 2px solid #A6A6A6;
            background-color: unset;
        }
    }
}

// /* MAIN */

// /* HERO */
.hero_section {
    padding-left: 130px;
    padding-right: 18px;
    margin-bottom: 130px;

    .hero_conrainer {
        margin-inline: auto;
        display: flex;
        max-width: 1290px;
        gap: 35px;

        .hero_text {
            max-width: 555px;

            h1 {
                color: #191A15;
                font-size: 80px;
                line-height: 90px;
                font-weight: 700;
                margin-bottom: 30px;
            }

            svg {
                margin-bottom: 50px;
            }

            p {
                color: #000000;
                font-size: 18px;
                font-weight: 500;
                line-height: 30px;
                padding-right: 94px;
                margin-bottom: 50px;
            }

            .hero_buttons {
                display: flex;
                gap: 40px;
                font-size: 18px;
                align-items: center;

                .button_try {
                    background-color: #54BD95;
                    color: #FFFFFF;
                    padding: 20px 30px;
                    border-radius: 40px;
                }

                .button_try:hover {
                    color: #A6A6A6;
                    outline: 2px solid #A6A6A6;
                    background-color: unset;
                }

                .button_play {
                    display: flex;
                    max-width: 152px;
                    gap: 14px;
                    align-items: center;

                    img {
                        max-width: 40px;
                    }
                }

                .button_play:hover {
                    color: #54BD95;
                    outline: 2px solid #54BD95;
                }
            }
        }

        .hero_image_container {
            max-width: 702px;
            padding: 0 112px 0 180px;

            .bg_hero {
                background-image: url('./assets/images/img_hero.png');
                width: 410px;
                height: 526px;
                margin-bottom: 52px;

                .hero_card1 {
                    position: relative;
                    right: 180px;
                    top: 30px;
                    max-width: 262px;
                    background-color: #FFFFFF;
                    border-radius: 10px;
                    padding-bottom: 14px;
                    padding-top: 14px;
                    padding-left: 18px;

                    hr {
                        max-width: 227px;
                        border: none;
                        border-top: 1px solid #EEEEEE;
                    }

                    .card1_container {
                        display: flex;
                        gap: 86px;
                        margin-bottom: 5px;
                        align-items: center;

                        div {

                            h6 {
                                font-size: 12px;
                                font-weight: 400;
                                color: #A9A7B6;
                                margin-bottom: 8px;
                            }

                            span {
                                font-size: 16px;
                                font-weight: 500;
                            }
                        }

                        .card1_button {
                            max-height: 28px;
                            padding: 6px 16px;
                            border-radius: 40px;
                            color: #FFFFFF;
                            background-color: #52BD94;
                        }
                    }
                }

                .ic_database {
                    position: relative;
                    bottom: 80;
                    left: 385px;

                }

                .ic_check {
                    position: relative;
                    right: 123px;
                    top: 79px;
                }

                .img_credcard {
                    position: relative;
                    top: 150px;
                    left: 335px;
                }

                .hero_card2 {
                    position: relative;
                    right: 100px;
                    top: 30px;
                    max-width: 138px;
                    background-color: #FFFFFF;
                    border-radius: 10px;
                    padding-top: 13px;
                    padding-right: 12px;
                    padding-bottom: 14px;
                    padding-left: 12px;

                    .card2_container {
                        display: flex;
                        gap: 21px;
                        align-items: end;

                        div {

                            h6 {
                                font-size: 12px;
                                font-weight: 400;
                                color: #A9A7B6;
                                margin-bottom: 8px;
                            }

                            span {
                                font-size: 16px;
                                font-weight: 500;
                            }
                        }
                    }
                }

                .ic_message {
                    position: relative;
                    top: 80px;
                    left: 320px;
                }
            }
        }
    }
}

// /* MORE_THAN */
.morethan_section {
    padding: 0 234px 0 130px;
    margin-bottom: 130px;

    .morethan_container {
        margin-inline: auto;
        max-width: 1076px;

        .morethan_title {
            padding-left: 230px;
            padding-right: 126px;
            font-size: 40px;
            font-weight: 700;
            color: #191A15;

            margin-bottom: 60px;
        }

        .morethan_companies {
            display: grid;
            grid-template-columns: repeat(5, auto);
            justify-content: space-between;
            gap: 5px;

            .mt_company_card {
                display: flex;
                gap: 10px;

                p {
                    color: #A6A6A6;
                    font-size: 30px;
                    font-weight: 600;
                }
            }
        }
    }
}

// /* OUR_SUPPORT */
.our_support_section {
    background-color: #F9F8FE;
    padding: 60px 130px;
    margin-bottom: 130px;

    .our_support_container {
        max-width: 1180px;
        margin-inline: auto;
        display: flex;
        gap: 27px;

        .oursup_left {
            max-width: 644px;
            display: flex;
            flex-direction: column;

            .oursup_title {
                color: #191A15;
                font-size: 50px;
                font-weight: 600;
                padding-right: 27px;
                margin-bottom: 30px;
            }

            .oursup_discription {
                color: #A6A6A6;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 73px;
            }

            .oursup_stars {
                display: flex;
                gap: 80px;

                .oursup_star {
                    display: flex;
                    flex-direction: column;
                    gap: 18px;

                    h4 {
                        color: #191A15;
                        font-size: 18px;
                    }

                    p {
                        color: #A6A6A6;
                        font-size: 18px;
                    }
                }

            }
        }

        .oursup_right {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .oursup_card {
                display: flex;
                gap: 30px;

                .oursup_imgs {
                    padding: 15px;
                    background-color: #FFFFFF;
                    max-height: 60px;
                }

                .oursup_card_text {
                    max-width: 428px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    h3 {
                        color: #191A15;
                        font-size: 28px;
                        font-weight: 700;
                        padding-top: 3px;
                    }

                    p {
                        color: #A6A6A6;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }

            .padding1px {
                padding-left: 1px;
                // /* он очен важен XDнаверное */
            }
        }

    }
}

//СТАРЫЙ КОД ПЕРЕВЕДЕНЫЙ НА Scss


// OUR_FEATURES
.our_fearures_section {
    margin-bottom: 130px;
    padding: 0 130px;

    .our_features_container {
        max-width: 1180px;
        margin-inline: auto;

        .ourfeat_text {
            display: flex;
            //justify-content: space-between; //не работает так как задал размер дочерям
            gap: 113px;
            align-items: center;
            margin-bottom: 74px;

            h2 {
                color: #191A15;
                font-size: 50px;
                font-weight: 600;
                max-width: 331px;
            }

            p {
                color: #A6A6A6;
                font-size: 18px;
                font-weight: 500;
                line-height: 30px;
                max-width: 441px;
            }

            button {
                background-color: #54BD95;
                color: #FFFFFF;
                font-size: 18px;
                line-height: 30px;
                font-weight: 500;
                padding: 18px 31px;
                border-radius: 70px;
            }

            button:hover {
                color: #A6A6A6;
                outline: 2px solid #A6A6A6;
                background-color: unset;
            }
        }

        .ourfeat_cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 5px;

            .ourfeat_card {
                max-width: 364px;

                img {
                    margin-bottom: 30px;
                }

                .ourfeat_card_text {
                    max-width: 340px;

                    h3 {
                        font-size: 30px;
                        line-height: 30px;
                        font-weight: 600;
                        color: #191A15;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 18px;
                        line-height: 30px;
                        font-weight: 500;
                        color: #A6A6A6;
                    }
                }
            }
        }
    }
}

// BENIFIT
.benifit_section {
    padding-left: 130px;
    padding-right: 61px;
    margin-bottom: 130px;

    .benifit_container {
        display: flex;
        max-width: 1249px;
        margin-inline: auto;
        gap: 135px;

        .ben_left {
            max-width: 471px;
            display: flex;
            flex-direction: column;

            h2 {
                color: #191A15;
                font-size: 50px;
                font-weight: 600;
                margin-bottom: 50px;
            }

            .ben_rows {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .ben_row {
                    display: flex;
                    gap: 20px;
                    align-items: center;

                    p {
                        font-size: 18px;
                        line-height: 30px;
                        font-weight: 500;
                        color: #191A15;
                    }
                }
            }
        }

        .ben_right {
            max-width: 643px;
            padding: 0 69px 0 124px;


            .ben_bg {
                background-image: url(./assets/images/img_workplace.png);
                width: 450px;
                height: 529px;
                margin-bottom: 14px;

                .ben_card1 {
                    position: relative;
                    top: 39px;
                    right: 124px;
                    background-color: #FFFFFF;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    max-width: 304px;
                    padding: 12px 20px;

                    .img_amanda {
                        padding-right: 16px;
                    }

                    div {
                        max-width: 122px;

                        h6 {
                            color: #191A15;
                            font-size: 16px;
                            font-weight: 500;
                            margin-bottom: 12px;
                        }

                        p {
                            font-size: 12px;
                            font-weight: 500;
                            color: #A6A6A6;
                        }
                    }

                    .ic_message {
                        padding-left: 28px;
                    }
                }
            }

            .ben_card2 {
                position: relative;
                top: 39px;
                left: 381px;
                max-width: 138px;
                background-color: #FFFFFF;
                border-radius: 10px;
                padding-top: 13px;
                padding-right: 12px;
                padding-bottom: 14px;
                padding-left: 12px;

                .ben_card2_container {
                    display: flex;
                    gap: 21px;
                    align-items: end;

                    div {

                        h6 {
                            font-size: 12px;
                            font-weight: 400;
                            color: #A9A7B6;
                            margin-bottom: 8px;
                        }

                        span {
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                }
            }

            .ic_picture {
                position: relative;
                top: 123px;
                right: 69px;
            }

            .ben_card3 {
                position: relative;
                top: 260px;
                right: 106px;
                max-width: 302px;
                background-color: #FFFFFF;
                padding: 22px 25px;
                border-radius: 10px;
                display: flex;
                gap: 15px;
                align-items: center;

                p {
                    font-size: 18px;
                    color: #191A15;
                    letter-spacing: -1px; //В Figma было -3% letter spacing как это реалезовать ?
                }
            }
        }
    }
}

// CHOOSE PLAN

.plan_section {
    padding-left: 141x;
    padding-right: 119px;
    margin-bottom: 130px;

    .plan_container {
        max-width: 1180px;
        margin-inline: auto;

        .plan_text {
            max-width: 519px;
            text-align: center;
            margin-inline: auto;

            h2 {
                font-size: 50px;
                font-weight: 700;
                color: #191A15;
                line-height: 73px;
                margin-bottom: 40px;
            }

            p {
                font-size: 18px;
                font-weight: 700;
                color: #A6A6A6;
                margin-bottom: 40px;
            }
            .plan_buttons_bil {
                display: ;
                max-width: 340px;
                padding: 7px;
                background-color: #FFFFFF;
                border-radius: 10px;
                margin-inline: auto;

                button {
                    border-radius: 10px;
                    padding: 13px 40px;
                    line-height: 30px;
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }
}